Discover Weekly Archive.json
{
  "name": "Discover Weekly Archive",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * MON"
            }
          ]
        }
      },
      "id": "bb8568a5-b40d-4cfe-8fe0-67de745dfbbc",
      "name": "CRON",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        784
      ],
      "notesInFlow": true,
      "typeVersion": 1.1,
      "notes": "Every Monday @ 8:30am"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getUserPlaylists",
        "returnAll": true
      },
      "id": "8050f5ec-5c46-401c-9c99-c0ee44a89d04",
      "name": "Get User's Playlists",
      "type": "n8n-nodes-base.spotify",
      "position": [
        240,
        784
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "NidEuX4lixEiiGjj",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.name }}",
        "rules": {
          "rules": [
            {
              "value2": "Discover Weekly",
              "outputKey": "disc"
            },
            {
              "value2": "Discover Weekly Archive",
              "outputKey": "arch"
            }
          ]
        }
      },
      "id": "41d89540-1499-42ac-993a-4912915c6473",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        464,
        784
      ],
      "notesInFlow": true,
      "typeVersion": 2,
      "notes": "Find Discover and Archive playlist by name"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "={{ $json.uri }}",
        "returnAll": true
      },
      "id": "03b76c5b-bd59-4d1a-a72b-15295c60cc2b",
      "name": "Get Discover Tracks",
      "type": "n8n-nodes-base.spotify",
      "position": [
        752,
        672
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "NidEuX4lixEiiGjj",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "={{ $json.uri }}",
        "returnAll": true
      },
      "id": "4680ccee-6b11-4df6-b1ee-616b95491450",
      "name": "Get Archive Tracks",
      "type": "n8n-nodes-base.spotify",
      "position": [
        752,
        880
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "NidEuX4lixEiiGjj",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "track.uri",
              "field2": "track.uri"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "d8012b0c-1967-4dd8-b2a8-b4dfb081deb1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1024,
        784
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "#### Purpose\n\nCompares tracks using `Combine` operation to output **non-matching** Discover Weekly tracks to ensure that duplicates are not appended to the Archive playlist",
        "height": 354,
        "width": 262,
        "color": 7
      },
      "id": "9256bce7-0f2a-44d3-bf4e-8a020ae9a5e0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "81f9e3a7-eef0-462c-9d82-db894b19a110",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "bdcd5964-b32c-469e-aeab-54a47ab3a0e1",
      "name": "Check if tracks to add is NOT empty",
      "type": "n8n-nodes-base.if",
      "position": [
        1280,
        784
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "={{ $('Switch').all(1).first().json.uri }}",
        "trackID": "={{ $json.track.uri }}",
        "additionalFields": {
          "position": 0
        }
      },
      "id": "ba6aa3f5-3ccf-4688-8bfd-e7fc1c347823",
      "name": "Add tracks to Archive playlist",
      "type": "n8n-nodes-base.spotify",
      "position": [
        1552,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "NidEuX4lixEiiGjj",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Do anything else here\n\nFor example, in my personal workflow, after the tracks have been added to to my Archive playlist, I send a `POST` request to my self-hosted [NTFY](https://docs.ntfy.sh) server to notify me that my Discover Weekly playlist has refreshed, and I also provide the links to easily open the playlists within the notification that is sent.\n\nThe possibilities are endless with n8n!",
        "height": 190,
        "width": 634,
        "color": 7
      },
      "id": "b177a89b-d2ea-48d7-b56f-e83b64cc4fde",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## README\n\nThis workflow will automatically archive your Spotify `Discover Weekly` playlist to a separate playlist. One additional caveat this workflow addresses is it will compare the refreshed `Discover Weekly` tracks against your archive playlist's existing tracks to ensure only unique tracks are added to your archive playlist. This helps reduce clutter within the archive playlist. \n\n### Setup Instructions (Required)\n1. **Within your Spotify account, create a new playlist**\n  You may name this playlist whatever you like. The default name within the workflow is `Discover Weekly Archive`. If you decide on another name, ensure you update the `Switch` node output with the key of `arch` to the name of the playlist you set.\n\n2. **Create your Spotify credential(s) and update each Spotify node with your created credential**\n  Follow the instructions within the [n8n docs](https://docs.n8n.io/integrations/builtin/credentials/spotify/) to create your Spotify credential, then select the credential in the `Get User's Playlists`, `Get Discover Tracks`, `Get Archive Tracks`, and `Add tracks to Archive playlist` nodes.\n\n3. **Activate the workflow to run workflow based on the Cron expression set in the `Schedule` trigger node.**\n\n### Optional Setup\n- Update the Cron expression within the `Schedule` trigger node with an earlier or later time if your `GENERIC_TIMEZONE` is set. You may also consider setting the workflow timezone as well. For assistance with Cron expressions, refer to the [n8n docs](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/#generate-a-custom-cron-expression).\n- Add nodes to the end of the workflow to send notifications, update a spreadsheet, or any other operation/action you'd like to perform in conjunction with archiving your Discover Weekly tracks\n- Setup a error workflow to handle any thing that goes wrong within the workflow. You can find an example [here](https://n8n.io/workflows/696-send-email-via-gmail-on-workflow-error/) or more information concerning handling errors within the [n8n docs](https://docs.n8n.io/courses/level-two/chapter-4/).\n",
        "height": 733.4280742459401,
        "width": 605.1751740139206,
        "color": 4
      },
      "id": "996360b4-f9fe-48fe-bc9f-7863340577ec",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "CRON": {
      "main": [
        [
          {
            "node": "Get User's Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Check if tracks to add is NOT empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Discover Tracks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Archive Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Archive Tracks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Discover Tracks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Playlists": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if tracks to add is NOT empty": {
      "main": [
        [
          {
            "node": "Add tracks to Archive playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3065f069-f365-4d46-a2ef-2d141cac9d65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c75ed35294cdff99d61b0792979dad874f484e9b9206eda0ee62371cb7e4486"
  },
  "id": "jdVx-aODR0QL7Ie_d3gMn",
  "tags": []
}